body {
	font-family: arial;
}

.navbar-brand a {
	float: left;
	font-family: arial;
	text-decoration: none;
	color: black;
}
 
.navbar-brand h1 {
	font-weight: 700;
	margin: 1px auto 7px;
}

.navbar {
	height: 100px;
	background-color: #cccccc;
}

#header-nav {
	border-color: black;
	border-width: 2px;
	opacity: 1:;
}

h1 {
	font-family: arial;
	color: black;
	font-weight: 700;
}

.navbar-toggle{
	margin: 20px;
}

.icon-bar {
	margin: 7px;
}

#nav-list { 
    background-color: black;
 }

 #nav-list a {
 	border:2px solid white;
 }

li {
	text-align: center;
	color: white;

}

navbar-default .navbar-nav>li>a:focus, navbar-default .navbar-nav>li>a:hover {
	background-color: white;
	color: black;
	opacity: 1.0;

	}

.navbar-default .navbar-nav>li>a {
	font-size: 1.7em;
	color: #cccc;
	text-decoration: none;
	background-color: rgba(1,1,1,0.2);
	opacity: 1;
}


section h2 {
	margin: 10px;
	font-size: 1.5em;
	font-weight: 780;
}
section {
	background-color: #cccccc;
	}

p{
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}

@media (min-width: 767px){
	.container-fluid {
		width: 98%;
		margin: 2px auto 2px;
	}
}

@media (max-width: 767px){
	.container-fluid {
		width: 80%;
		margin: 2px auto 2px;
	}
}

