* {
	margin:0;
	padding:0;
}

h1{
	float: center;
	margin-left: 0%;
	size: 100px;
}
 
body {
	background:#f2f2f2;
}
 
.splide_slide{
	float: center;
	}

div {
	float: center;

}
li img{
	margin-left: 19%;
}

p{
	float: center;
	margin-left: 3%;
	text-align: center;
}

#lista{
	margin-left: 30%
}

#logo-img {
  background: url('https://raw.githubusercontent.com/airamfernanda/coursera/gh-pages/site/img/caminandesf.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}
.row {
  width: 100%;
}

#header-nav { 
 background-color: #D8D1D9 }

.splide__progress {
	padding-bottom: 2px;
}



