* {
	margin:0;
	padding:0;
}

h1{
	float: center;
	margin-left: 0%;
	size: 100px;
}
 
body {
	background:#f2f2f2;
}
 
.splide__slide{
	float: center;
	margin-bottom: 100px;
	}

div {
	float: center;

}
li img{
	margin-left: 20%;
	margin-bottom: 10%;
}

.splide__progress__bar {
	margin: 1px;
}

p{
	float: center;
	margin-left: 3%;
	text-align: center;
}

#lista{
	margin-left: 30%
}

.row {
  width: 100%;
}

#header-nav { 
 background-color: #D8D1D9 }





