* {
	margin:0;
	padding:0;
}

h1{
	float: center;
	margin-left: 0%;
	size: 100px;
}
 
body {
	background:#f2f2f2;
}
 
.splide{
	float: center;
	}

div {
	float: center;

}
img{
	margin-left: 1%;
}

p{
	float: center;
	margin-left: 30%;
}

#lista{
	margin-left: 30%
}

var options = {
	perPage: 2,
	breakpoints: {
		990px: {
			perPage: 1,
		},
	}
};